* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black
}



/* 두줄 말줄임 */
.multi-ellipsis{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*  버튼 */
button{
  border: none;
  cursor: pointer;
  padding: 0;
}

.ir{
  text-align: center;
}

.product-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
}

.product-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img{
  text-align: center;
}

.product-img img{
  width: 60%;
}

